[submodule "cmake"]
	path = cmake
	url = http://github.com/ryjen/cmake.git
[submodule "tests/vendor/bandit"]
	path = tests/vendor/bandit
	url = https://github.com/joakimkarlsson/bandit.git
[submodule "src/json"]
path = src/json
url = https://github.com/nlohmann/json.git

